<div class="main-view">
  <div class="container">
    <div class="header">
      <h1>Check a Poker Hand</h1>
    </div>
    <div class="main">
      <%= form_tag("/poker_hands/judge")do %>
      <div class="inputarea">
        <input class="inputbox" name="hand" value="<%= @poker_hand.hand %>" placeholder="S10 H11 D12 C13 H1"></input>
      </div>
      <div class="inputbtnarea">
        <input class="inputbtn" type="submit" value="Check">
      </div>
      <% end %>
      <% if @poker_hand.error_message %>
      <div class="error_message">
        <%= simple_format(@poker_hand.error_message)%>
      </div>
      <% end %>
      <div class="hand">
        <%= @poker_hand.role[:name]%>
      </div>
    </div>
    <div class="footer">
      <p>©Copyright 2021 porkerhands All Rights Reserved.</p>
    </div>
  </div>
</div>
